.consultation {
  padding: 4rem 0;
  background: #FFF7E2;
  text-align: center;
}

.consultation-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #3a643b;
  border-bottom: #24653385 3px solid;
  display: inline-block;
  line-break: strict;
}

.consultation-container {
  max-width: 1200px;
  margin:0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.consultation-card {
  flex: 1;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
}

.consultation-card:not(.image-card) {
  border-top: 4px solid #3A643B;
}

.consultation-card h3 {
  font-size: 1.5rem;
  color: #3A643B;
  padding: 0%;
}

.consultation-card p {
  margin-top: -1rem;
  font-size: 1rem;
  color: #5c5c5d;
  padding: 0.5rem;
}

.consultation-card:hover {
  transform: scale(1.05);
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border-top: 0px;
}


@media (max-width: 1015px) {
  .consultation-card {
    flex: 1 1 calc(50% - 1rem);
  }
  .consultation-card h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 490px) {
  .consultation-card {
    flex: 1 1 100%;
  }
  .consultation-card h3 {
    font-size: 1.5rem;
  }
}
@media (max-width:592px){
  .consultation-heading{
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
