.experts {
    padding: 4rem 0;
    background: #f9f9f9;
    text-align: center;
  }
  
  .experts-container {
    margin: 0 auto;
    padding: 0 4rem;
  }
  
  .experts-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #3a643b;
    border-bottom: #24653385 3px solid;
    display: inline-block;
  }
  
  .experts-card {
    background: #fef5e7;
    border-radius: 15px;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    height: 430px;
    width: 295px;
    margin-bottom: 0.75rem;
  }
  
  .experts-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .avatar-wrapper {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .experts-avatar {
    width: 149px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .rating-badge {
    position: absolute;
    bottom: -10px;
    right: 35px;
    background: #232222;
    color: #ffc107;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 4px 12px 4px 12px;
    border-radius: 17px;
    width: 70px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .experts-info {
    margin-top: 1rem;
  }
  
  .experts-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3a643b;
    margin: 0.5rem 0;
  }
  
  .experts-qualification,
  .experts-experience,
  .experts-consultation {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .experts-consultation{
    background-color: #3A643B1F;
    border-radius: 18px;
    width: 153px;
    text-align: center;
    color: #3A643B;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    margin-bottom: 2px;
  }
  
  .book-session-btn {
    background: #3a643b;
    color: #fff;
    border: none;
    border-radius: 0 0 15px 15px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    height: 15%;
    margin-top: 65px;
  }
  
  .book-session-btn:hover {
    background: #285328;
  }
  
  .find-more-btn {
    background: #fff;
    color: #3a643b;
    border: 2px solid #3a643b;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .find-more-btn:hover {
    background: #3a643b;
    color: #fff;
  }
  
.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    font-size: 1.5rem;
    color: #3A643B;
    background: #fff;
    border-radius: 50%;
    border: #3A643B solid 1px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.custom-arrow:hover {
    background-color: #3A643B;
    color: #fff;
}

.custom-arrow.prev {
    left: -50px; 
}

.custom-arrow.next {
    right: -50px; 
}

.slick-prev,
.slick-next {
    display: none !important; 
}

.slick-track {
    display: flex !important;
    gap: 1.5rem; 
}

@media screen and (max-width: 410px) {
.experts-card {
    height: 430px;
}
.book-session-btn{
  margin-top: 65px;
}
}

@media screen and (max-width:400px) and (min-width: 396px) {
  .book-session-btn{
    height: 62px;
  }
}
@media screen and (max-width: 395px)and (min-width: 341px) {
 .book-session-btn{
  height:60px;
  margin-top: 42px;
 }
}
@media screen and (max-width: 340px) {
  .experts-card {
    height: 445px;
  }
  .book-session-btn{
    height: 50px;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .experts-heading{
    border-bottom: none;
    margin-bottom: 1.5rem;
  }
}

