.features {
  padding: 1rem 0;
  background-color: #FFF7E2;
  text-align: center;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1.5rem;
  padding: 0 1rem;
}

.feature-card {
  display: flex; 
  align-items: center;
  padding: 0.5rem;
  gap: 1rem; 
  text-align: left;
}


.feature-icon {
  height: 65px;
  width: 80px;
  border-radius: 50%;
  border: #3A643B 2px solid;
  background-color: #ffffff;
  background-size: 45px 45px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box; 
}

.feature-text {
  font-size: 1rem;
  font-weight: 650;
  color: #3A643B;
  line-height: 1.5;
}

@media (max-width: 950px) {

  .features {
    padding: 0.5rem 0;
  }

  .feature-grid {
    grid-template-columns: 1fr; 
  }

  .feature-card {
    flex-direction: row;
    border-bottom: #ada99f 1px solid;
  }
}
