.footer {
    background-color: #3A643B2E;
    text-align: center;
    padding: 3rem 0;
  }

  .footer-header {
    color: #3A643B;
  }
.footer-content {
    color: #5c5c5d;
  }
  .footer-contact, .footer-subscribe {
    color: #5c5c5d;
    margin-top: 2rem;
    display: none;
  }

  .footer-social img{
    border-radius: 50%;
    display: none;
    height: 50px;
    width: 50px;
  }
  .footer-social{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  .footer-subscribe input {
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #000000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 30px;
    }
    
    .footer-subscribe button {
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    background-color: #000000;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    }
  .footer-subscribe h3 {
    color: #3A643B;
  }

  .footer-contact h3 {
    color: #3A643B;
  }

  @media (max-width: 768px) {
    .footer-contact, .footer-subscribe, .footer-social img {
      display: block;
    }
    .footer{
      text-align: left;
      padding-left: 2rem;
      padding-right: 5rem;
    }
  }
  @media (max-width:444px){
    .footer-social img{
      height: 40px;
      width: 40px;
    }
    .footer-social{
      gap: 1rem;
    }
  }
  @media(max-width: 310px){
    .footer-social img{
      height: 30px;
      width: 30px;
    }
  }