.header {
  background-color:  #FFF7E2;
  color: #3a643b;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
  
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: none;
}
  
.menu-toggle {
  display: none;
  font-size: 1.75rem;
  cursor: pointer;
  padding-left: 1rem;
}
  
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .logo {
    display: block;
    margin: 0 auto;
    text-align: left;
  }

  .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

