.customer-reviews {
    padding: 4rem 0;
    background: #f9f9f9;
    text-align: center;
    
  }
  .reviews-container {
    margin: 0 auto;
    padding: 0 4rem;
    height: auto;
  }
  
  .reviews-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #3a643b;
    border-bottom: #24653385 3px solid;
    display: inline-block;
  }
  
  .review-card {
    background: #fef5e7;
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
    height: 250px;
    margin-bottom: 0.75rem;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .review-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

.review-consultation {
    background: #a0d9a1b3;
    padding: 0.5rem;
    font-weight: bold;
    color: #3a643b;
    margin-bottom: 0; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
}

  .review-date {
    position: absolute;
    top: 3.25rem;
    right: 1rem;
    font-size: 0.8rem;
    color: #999;
  }
  .review-name {
    margin-top: 2.5rem;
    margin-bottom: -0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3a643b;
    text-align: left;
  }
 
  .review-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .review-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .review-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .review-city {
    font-size: 0.9rem;
    color: #555;
    text-align: left;
  }
  
  .review-rating {
    margin-top: -0.5rem;
    font-size: 1.5rem;
    color: #ffc107;  
  }
  
.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    font-size: 1.5rem;
    color: #3A643B;
    background: #fff;
    border-radius: 50%;
    border: #3A643B solid 1px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.custom-arrow:hover {
    background-color: #3A643B;
    color: #fff;
}

.custom-arrow.prev {
    left: -50px; 
}

.custom-arrow.next {
    right: -50px; 
}

.slick-prev,
.slick-next {
    display: none !important; 
}

.slick-track {
    display: flex !important;
    gap: 1.5rem; 
}

@media screen and (max-width: 480px) {
    .review-date{
      top: 2.75rem;
      right: 0.5rem;
    }
    .review-card{
      height: 270px;
    }
    .review-info{
      margin-top: 1.25rem;
    }
    .review-avatar{
      width: 50px;
      height: 50px;
      margin-top: 2rem;
    }
}

@media screen and (max-width:393px) {
.review-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-avatar{
  margin-bottom: -5rem;
  
}
.review-card{
  height: 300px;
}
.review-info{
  margin-top: 2rem;
}
.review-date{
  font-size: 0.65rem;
}
}

